Source: openmediavault-mounteditor
Section: net
XB-Plugin-Section: filesystems
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper-compat (= 14), dh-sequence-single-binary
Standards-Version: 4.7.2
Homepage: http://omv-extras.org/

Package: openmediavault-mounteditor
Architecture: all
Depends: openmediavault (>= 7),
         ${misc:Depends}
Description: openmediavault mount editor plugin
 Allow editing of filesystem mount options.
